<section class="section">
    <div class="container">
        <h2 class="title">Про нас</h2>
        <div class="container__aboutus">
            <picture>
                <img src="/src/images/about-us.png" alt="aboutus">
            </picture>
            <div>
                <p>
                    Професійні досвідчені барбери готові надати вам послуги зі стрижки та гоління високої якості, використовуючи тільки
                    кращі інструменти та косметику. Ми прагнемо, щоб кожен наш клієнт відчував себе впевнено та оновлено, виходячи з нашого
                    барбершопу. 
                </p>
                <p>
                    Наша атмосфера поєднує в собі сучасний дизайн, створюючи круту чоловічу атмосферу. Ми пишаємось тим, що
                    можемо запропонувати нашим клієнтам високий рівень обслуговування та якість послуг.
                </p>
            </div>

        </div>
    </div>
</section>