<section class="section aboutus__section">
    <div class="elem-about">
        <svg class="elem-about__svg">
            <use href="/src/images/icons/icons.svg#icon-Vector-2" ></use>>
        </svg>
    </div>
    <div class="container about-container">
        <h2 class="title aboutus__title" id="about">Про нас</h2>
        <div class="aboutus__container">
            <picture>
                <img class="aboutus__img" src="/src/images/about-us.jpg" alt="aboutus">
            </picture>
            <div class="aboutus__text">
                <p>
                    Професійні досвідчені барбери готові надати вам послуги зі стрижки та гоління високої якості, використовуючи тільки
                    кращі інструменти та косметику. Ми прагнемо, щоб кожен наш клієнт відчував себе впевнено та оновлено, виходячи з нашого
                    барбершопу. 
                </p>
                <br>
                <p>
                    Наша атмосфера поєднує в собі сучасний дизайн, створюючи круту чоловічу атмосферу. Ми пишаємось тим, що
                    можемо запропонувати нашим клієнтам високий рівень обслуговування та якість послуг.
                </p>
            </div>
        </div>
    </div>


</section>