<section class="section barbes__section">
    <div class="container">
        <h2 class="title barbes__title" id="barbers">Наші професіонали</h2>
        <p class="barbes__text">
            Наші барбери мають розгорнутий досвід у роботі з різними типами волосся, формами обличчя та стилями. Вони докладають максимальних зусиль, аби забезпечити вам образ, який відповідає вашому унікальному стилю та побажанням
        </p>
        <ul class="barbes-list">
            <li class="barbes-list__item">
                <h3 class="barb__info">
                    Ольга
                    <p class="barb__info--accent">grand barber</p>
                </h3>
                <div class="barb__card">
                    <div class="barb-action"></div>
                    <img class="barb__foto" src="/src/images/Ольга.png">
                    <a class="barb__btn" href="https://b807307.alteg.io/company/758588/menu?o=">Записатися</a>
                    <!-- <button class="barb__btn">Записатися</button> -->
                </div>
                <p class="barbe__expr">Досвід: 11 років</p>
            </li>
            <li class="barbes-list__item">
                <h3 class="barb__info">
                    Михайло
                    <p class="barb__info--accent">grand barber</p>
                </h3>
                <div class="barb__card">
                    <div class="barb-action"></div>
                    <img class="barb__foto" src="/src/images/Михайло.png">
                    <a class="barb__btn" href="https://b807307.alteg.io/company/758588/menu?o=">Записатися</a>
                    <!-- <button class="barb__btn">Записатися</button> -->
                </div>
                <p class="barbe__expr">Досвід: 7 років</p>
            </li>
        </ul>

        <!-- <div class="barbes-info__container">
            <div class="barbes-info__card">
                <h3 class="barbes-info__name">Ольга</h3>
                <p class="barbes-info__text">grand barber</p>
                <img class="barbes-info__foto" src="/src/images/Ольга.png">
                <button class="barbes-info__btn">Записатися</button>
                <p class="barbes-info__experience">Досвід: 11 років</p>
                
            </div>
            <div>
                <h3>Михайло</h3>
                <p>grand barber</p>
                <img src="/src/images/Михайло.png">
                <button>Записатися</button>
                <p>Досвід: 7 років</p>
            
            </div>
        </div> -->
    </div>

</section>