<section class="section">
    <div class="container">
        <h2 class="title">Наші професіонали</h2>
        <p></p>
        <div>
            <div>
                <h3>Ольга</h3>
                <p>grand barber</p>
                <img src="/src/images/Ольга.png">
                <button>Записатися</button>
                <p>Досвід: 11 років</p>
                
            </div>
            <div>
                <h3>Михайло</h3>
                <p>grand barber</p>
                <img src="/src/images/Михайло.png">
                <button>Записатися</button>
                <p>Досвід: 7 років</p>
            
            </div>
        </div>
    </div>

</section>