<footer class="page-footer">
    <div class="container">
        <div class="contact-info">
            <address>
                <ul class="address-list">
                    <li>
                        <a class="address-list__map" href="https://goo.gl/maps/RUme3JthcPDY4Dss9" target="_blank" rel="noreferrer noopener">м. Новояворівськ, вул. Степана Бандери 1A</a>
                    </li>
                    <li class="address-list__item">
                        <a class="address-list__link" href="tel:+380971380088">+380 97 138 00 88</a>
                    </li>
                    <li class="address-list__item">
                        <a class="address-list__link" href="mailto:kremin.barbershop@gmail.com">kremin.barbershop@gmail.com</a>
                    </li>
                    <li class="address-list__item">
                        <p>Пн-Сб: 9:00-19:00</p>
                    </li>
                </ul>
            </address>
        </div>
        <div class="footer-logo"> </div>
        <div class="footer-nav">
            <nav>
                <a>Місце сили та стилю</a>
                <ul class="site-nav">
                    <li class="site-nav__item"><a class="site-nav__link" href=" ">Про нас</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href=" ">Майстри</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href=" ">Послуги</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href=" ">Контакти</a></li>
                </ul>
            </nav>
        </div>>
        <div>
            <p>Кремінь Barbershop. Всі права захищені. ©2023</p>
        </div>
      
    </div>

</footer>