<footer class="page-footer section">
    <div class="container footer-container">
        <div class="footer__flex">
            <div class="footer-location">
                <h3 class="footer-location__title">Ми знаходимося тут</h3>
                <!-- <a href="https://goo.gl/maps/uJ2V6R9G3yVL6myr5" target="_blank" rel="noreferrer noopen"></a> -->
                <iframe class="footer-location__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2568.229161212501!2d23.5693022!3d49.9320412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b3d66606e1e27%3A0xcfc410f56cde743a!2z0LLRg9C70LjRhtGPINCh0YLQtdC_0LDQvdCwINCR0LDQvdC00LXRgNC4LCAxLCDQndC-0LLQvtGP0LLQvtGA0ZbQstGB0YzQuiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA4MTA1Mw!5e0!3m2!1suk!2sua!4v1689193374319!5m2!1suk!2sua"
                     style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="contact-info">
                <address>
                    <ul class="address-list">
                        <li class="address-list__item">
                            <a class="address-list__link" href="https://goo.gl/maps/RUme3JthcPDY4Dss9" target="_blank"
                                rel="noreferrer noopener">
                                <svg class="icon-footer" width="20px" height="20px">
                                    <use href="/src/images/icons/symbol-defs-opt.svg#icon-map-icon"></use>
                                </svg>
                                м. Новояворівськ, вул. Степана Бандери 1A</a>
                        </li>
                        <li class="address-list__item">
                            <a class="address-list__link" href="tel:+380971380088">
                                <svg class="icon-footer" width="20px" height="20px">
                                    <use href="/src/images/icons/symbol-defs-opt.svg#icon-phone-icon"></use>
                                </svg>
                                +380 97 138 00 88</a>
                        </li>
                        <li class="address-list__item">
                            <a class="address-list__link" href="mailto:kremin.barbershop@gmail.com">
                                <svg class="icon-footer" width="20px" height="20px">
                                    <use href="/src/images/icons/symbol-defs-opt.svg#icon-mail"></use>
                                </svg>
                                kremin.barbershop@gmail.com</a>
                        </li>
                        <li class="address-list__item">
                            <p class="address-list__link">
                                <svg class="icon-footer" width="20px" height="20px">
                                    <use href="/src/images/icons/symbol-defs-opt.svg#icon-clock"></use>
                                </svg>
                                Пн-Сб: 9:00-19:00</p>
                        </li>
                    </ul>
                </address>
            </div>
            <!-- <div class="footer-logo"> 
                <svg>
                    <use href="/src/images/icons/symbol-defs-opt.svg#icon-logotype"></use>
                </svg>
            </div> -->
            <div class="footer-nav">
                <nav>
                    <!-- <a>Місце сили та стилю</a> -->
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a class="footer-nav__link" href="#about">Про нас</a></li>
                        <li class="footer-nav__item"><a class="footer-nav__link" href="#barbers ">Майстри</a></li>
                        <li class="footer-nav__item"><a class="footer-nav__link" href="#price">Послуги</a></li>
                        <li class="footer-nav__item"><a class="footer-nav__link" href="#contacts">Контакти</a></li>
                        <li class="footer-nav__item"><a class="footer-nav__link" href="#gallery">Галерея</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-logo">
            <a class="footer-logo__link" href="#">
                    <svg>
                        <use href="/src/images/icons/symbol-defs-opt.svg#icon-logotype"></use>
                    </svg>
            </a>
        </div>
        <div class="footer-insta">
            <a class="footer-insta__link" href="https://www.instagram.com/">
                            <svg width="44px" height="44px">
                                <use href="/src/images/icons/symbol-defs-opt.svg#icon-instagram-footer"></use>
                            </svg>
            </a>
        </div>
        <div class="law">
            <p>Кремінь Barbershop. Всі права захищені. ©2023</p>
        </div>
      
    </div>

</footer>