<section class="section">
    <div class="container">
        <h2 class="title" id="gallery">ГАЛЕРЕЯ БАРБЕРШОПУ</h2>
                <div class="gallery">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery1.png" alt="Image 1">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery2.png" alt="Image 2">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery3.png" alt="Image 3">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery4.png" alt="Image 4">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery5.png" alt="Image 5">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery6.png" alt="Image 6">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery7.png" alt="Image 7">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery4.png" alt="Image 8">
                    <img class="gallery-img" src="./images/photo-gallery/photo-gallery9.png" alt="Image 9">
                </div>
    </div>
</section>