<header class="header">
    <div class="container">
        <nav>
            <a>Місце сили та стилю</a>
            <ul class="site-nav">
                <li class="site-nav__item"><a class="site-nav__link" href=" ">Про нас</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href=" ">Майстри</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href=" ">Послуги</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href=" ">Контакти</a></li>
            </ul>
        </nav>
        <ul class="auth-nav">
            <li class="auth-nav__item"><a class="auth-nav__link">instagram</a></li>
            <li class="auth-nav__item"><a class="auth-nav__link">380 97 138 00 89</a></li>
            <li class="auth-nav__item"><a class="auth-nav__link">Пн-сб: 9:00-19:00</a></li>
        </ul>

    </div>

</header>