<!-- <div class="menu-container" id="menu-container" data-menu>
    <ul class="menu-info">
        <li>
            <svg>
                <use href="./images/icons/symbol-defs-work.svg#icon-clock"></use>
            </svg>
            <p>Пн-Сб: 9:00-19:00</p>
        </li>
        <li>
            <svg>
                <use href="./images/icons/symbol-defs-work.svg#icon-phone-icon"></use>
            </svg>
            <p>380 97 138 00 88</p>
        </li>
    </ul>
    <ul class="menu-nav">
        <li class="menu-nav__item"><a class="menu-nav__link" href="#about">Про нас</a></li>
        <li class="menu-nav__item"><a class="menu-nav__link" href="#barbers">Майстри</a></li>
        <li class="menu-nav__item"><a class="menu-nav__link" href="#price">Послуги</a></li>
        <li class="menu-nav__item"><a class="menu-nav__link" href="#contacts">Контакти</a></li>
    </ul>
    <button>
        Записатися
    </button>
    <ul class="menu-svg">
        <li>
            <svg class="menu-logo">
                <use href="./images/icons/symbol-defs-work.svg##icon-logotype-small"></use>
            </svg>
        </li>
        <li>
            <svg class="menu-insta">
                <use href="./images/icons/symbol-defs-work.svg#icon-instagram-footer"></use>
            </svg>
        </li>
    </ul>
</div> -->