<section class="section overlay">
    <div class="container">
        <div class="header-menu">
            <a>м. Новояворівськ, вул. Степана Бандери 1A</a>
            <button type="button" class="menu__button is-open" aria-expanded="false" aria-controls="menu-container"
                data-menu-button>
                <svg class="menu-icon" width="40px" height="40px" aria-label="Переключатель мобильного меню">
                    <use class="icon__menu" href="./images/icons/symbol-defs-work.svg#icon-menu-burger"></use>
                    <use class="icon__close" href="./images/icons/symbol-defs-work.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <h1>
            <div class="main-logo">
                <svg class="main-logo__svg">
                    <use href="/src/images/icons/symbol-defs-opt.svg#icon-Group"></use>
                </svg>
            </div>
        </h1>
        <div >
            <a class="main-button" href="https://b807307.alteg.io/company/758588/menu?o=">Записатись</a>
        </div>
        

    </div>

</section>