<section class="section">
    <div class="container">
       <h2 class="title">Наші переваги</h2>

       <ul>
        <li>
            <button type="button" class="plus-btn" onclick="changePlus('professionalism');">
                Професійність
            </button>
        </li>
        <li>
            <button type="button" class="plus-btn" onclick="changePlus('quality');">
                Якість
            </button>
        </li>
        <li>
            <button type="button" class="plus-btn" onclick="changePlus('modernity');">
                Сучасність
            </button>
        </li>
        <li>
            <button type="button" class="plus-btn" onclick="changePlus('bonuses');">
                Бонуси
            </button>
        </li>
       </ul>

       <div class="plus-char">
        <h3 class="plus-name">Професійність</h3>
        <p class="plus-info">
            Відповідальні майстри від 7 років досвіду, які знаються на сучасних трендах, постійно вдосконалюються та можуть довести
            твій образ до ідеалу
        </p>
       </div>
       <div id="subscribe-mail" hidden>
        <h3 class="">Якість</h3>
        <p class="">
            Щось про якість
        </p>
       </div>
    </div>

</section>

    <!-- <nav class="pluses-naw">
            <ul class="pluses-naw__list">
                <li class="pluses-naw__item"><a href=" ">Професійність</a></li>
                <li class="pluses-naw__item"><a href=" ">Якість</a></li>
                <li class="pluses-naw__item"><a href=" ">Сучасність</a></li>
                <li class="pluses-naw__item"><a href=" ">Бонуси</a></li>
            </ul>
           </nav> -->