<section class="section pluses__section">
    <div class="container">
       <h2 class="title pluses__title">Наші переваги</h2>

       <ul class="mob-btn-list">
        <li class="mob-btn__item">
            <button type="button" class="mob-btn professionalism-mob-btn active" onclick="changePlus('professionalism');">1</button>
        </li>
        <li class="mob-btn__item">
            <button type="button" class="mob-btn quality-btn" onclick="changePlus('quality');">2</button>
        </li>
        <li class="mob-btn__item">
            <button type="button" class="mob-btn modernity-btn" onclick="changePlus('modernity');">3</button>
        </li>
        <li class="mob-btn__item">
            <button type="button" class="mob-btn bonuses-btn" onclick="changePlus('bonuses');">4</button>
        </li>
       </ul>

       <ul class="pluses-list">
        <li class="pluses-list__item">
            <button type="button" class="pluses-list__btn professionalism-btn active" onclick="changePlus('professionalism');">
                Професійність
            </button>
        </li>
        <li class="pluses-list__item">
            <button type="button" class="pluses-list__btn quality-btn" onclick="changePlus('quality');">
                Якість
            </button>
        </li>
        <li class="pluses-list__item">
            <button type="button" class="pluses-list__btn modernity-btn" onclick="changePlus('modernity');">
                Сучасність
            </button>
        </li>
        <li class="pluses-list__item">
            <button type="button" class="pluses-list__btn bonuses-btn" onclick="changePlus('bonuses');">
                Бонуси
            </button>
        </li>
       </ul>

       <h3 class="plus-mob__name">Професійність</h3>
       <div class="plus-char">
        <div class="plus-info">
            <h3 class="plus-info__name">Професійність</h3>
            <p class="plus-info__text">
                Відповідальні майстри від 7 років досвіду, які знаються на сучасних трендах, постійно вдосконалюються та можуть
                довести
                твій образ до ідеалу
            </p>
        </div>
        <div class="plus-img__conteiner">
            <img class="plus-img professionalism-img" 
            src="./images/pluses/professionalism.png" alt="professionalism"/>
            <img class="plus-img not-active quality-img" 
            src="./images/pluses/quality.png" alt="quality" />
            <img class="plus-img not-active modernity-img" 
            src="./images/pluses/modernity.png" alt="modernity" />
            <img class="plus-img not-active bonuses-img" 
            src="./images/pluses/bonuses.png" alt="bonuses" />
        </div>
       </div>
       
       
       <!-- TABLET -->
       <ul class="tablet-pluses">
        <li class="tablet-pluses__item">
            <img class="plus-img__anoth" src="./images/pluses/professionalism.png" alt="professionalism"/>
            <div class="tablet-pluses__info">
                <h3 class="tablet-pluses__name">Професійність</h3>
                <p class="tablet-pluses__text">
                    Відповідальні майстри від 7 років досвіду, які знаються на сучасних трендах, постійно вдосконалюються та можуть
                    довести
                    твій образ до ідеалу
                </p>
            </div>
        </li>
        <li class="tablet-pluses__item">
            <div class="tablet-pluses__info">
                <h3 class="tablet-pluses__name">Якість</h3>
                <p class="tablet-pluses__text">
                    Інвестували в найкраще обладнання та кращі продукти для догляду за волоссям та шкірою. Працюємо за принципом- якість
                    в кожній деталі
                </p>
            </div>
            <img class="plus-img__anoth" src="./images/pluses/quality.png" alt="quality" />
            </li>
        </li>
        <li class="tablet-pluses__item">
            <img class="plus-img__anoth" src="./images/pluses/modernity.png" alt="modernity" />
            <div class="tablet-pluses__info">
                <h3 class="tablet-pluses__name">Сучасність</h3>
                <p class="tablet-pluses__text">
                    Використовуємо тільки сучасні інструменти та чоловічу косметику, а в нашому Барбершопі крута чоловіча атмосфера з
                    сучасним інтер’єром
                </p>
            </div>
        </li>
        <li class="tablet-pluses__item">
            <div class="tablet-pluses__info">
                <h3 class="tablet-pluses__name">Бонуси</h3>
                <p class="tablet-pluses__text">
                    Безкоштовні напої клієнтам, та програми лояльності
                </p>
            </div>
            <img class="plus-img__anoth" src="./images/pluses/bonuses.png" alt="bonuses" />
        </li>
       </ul>
    </div>

</section>

<!-- <img class="plus-img__anoth" src="./images/pluses/bonuses.png" alt="quality" /> -->
<!-- <img class="plus-img__anoth" src="./images/pluses/quality.png" alt="quality" /> -->
<!-- <img class="plus-img__anoth" src="./images/pluses/modernity.png" alt="quality" /> -->
    <!-- <nav class="pluses-naw">
            <ul class="pluses-naw__list">
                <li class="pluses-naw__item"><a href=" ">Професійність</a></li>
                <li class="pluses-naw__item"><a href=" ">Якість</a></li>
                <li class="pluses-naw__item"><a href=" ">Сучасність</a></li>
                <li class="pluses-naw__item"><a href=" ">Бонуси</a></li>
            </ul>
           </nav> -->