<section class="section">
    <div class="container">
        <h2 class="title">Послуги та ціни</h2>
        <div class="logo-price"></div>
        <div class="price-list">
            <div class="price-list___kamyfluvan">
                <h3 class="price-list__title">Камуфлювання</h3>
                <ul class="price-list__list">
                    <li class="price-list__item">Камуфлювання сивини <span>350 грн</span> </li>
                    <li class="price-list__item">Камуфлювання бороди<span>300 грн</span> </li>
                </ul>
            </div>
            <div class="price-list___stryzhky">
                <h3 class="price-list__title">Стрижки</h3>
                <ul class="price-list__list">
                    <li class="price-list__item">Чоловіча стрижка <span>400 грн</span> </li>
                    <li class="price-list__item">Подовжена стрижка <span>450 грн</span> </li>
                    <li class="price-list__item">Дитяча стрижка <span>350 грн</span> </li>
                    <li class="price-list__item">Стрижка бороди <span>350 грн</span> </li>
                    <li class="price-list__item">Стрижка під насадку <span>300 грн</span> </li>
                    <li class="price-list__item">Окантовка стрижки <span>150 грн</span> </li>
                    <li class="price-list__item">Стрижка + борода <span>700 грн</span> </li>
                    <li class="price-list__item">Стрижка під насадку + борода<span>600 грн</span> </li>
                </ul>
            </div>
            <div class="price-list___different">
                <h3 class="price-list__title">Інше</h3>
                <ul class="price-list__list">
                    <li class="price-list__item">Королівське гоління <span>500 грн</span> </li>
                    <li class="price-list__item">Укладка <span>150 грн</span> </li>
                    <li class="price-list__item">Депіляція <span>150 грн</span> </li>
                </ul>
            </div>
        </div>
        <div>Ароматна кава та інші напої клієнтам безкоштовно*</div>
    </div>

</section>