<section class="section barbes__section">
    <div class="container barbes-container">
        <h2 class="title barbes__title" id="barbers">Наші професіонали</h2>
        <p class="barbes__text">
            Наші барбери мають розгорнутий досвід у роботі з різними типами волосся, формами обличчя та стилями. Вони докладають максимальних зусиль, аби забезпечити вам образ, який відповідає вашому унікальному стилю та побажанням
        </p>
                <div class="slider">
                    <ul class="slider-line">
                        <li class="barbes-list__item">
                            <h3 class="barb__info">
                                Ольга
                                <p class="barb__info--accent">grand barber</p>
                            </h3>
                            <div class="barb__card">
                                <div class="barb-action"></div>
                                <img class="barb__foto" src="/src/images/Ольга.png">
                                <a class="barb__btn" href="https://b807307.alteg.io/company/758588/menu?o=">Записатися</a>
                                <!-- <button class="barb__btn">Записатися</button> -->
                            </div>
                            <!-- <img src="/src/images/Ольга.png"> -->
                            <p class="barbe__expr">Досвід: 11 років</p>
                        </li>
                        <li class="barbes-list__item">
                            <h3 class="barb__info">
                                Михайло
                                <p class="barb__info--accent">grand barber</p>
                            </h3>
                            <div class="barb__card">
                                <div class="barb-action"></div>
                                <img class="barb__foto" src="/src/images/Михайло.png">
                                <a class="barb__btn" href="https://b807307.alteg.io/company/758588/menu?o=">Записатися</a>
                                <!-- <button class="barb__btn">Записатися</button> -->
                            </div>
                            <p class="barbe__expr">Досвід: 7 років</p>
                        </li>     
                    </ul>
                </div>
            <button class="slider-prev">🡠</button>
            <button class="slider-next" >🡢</button>
        </div>
    </div>
</section>