<section class="section barbes__section">
    <div class="container barbes-container">
        <h2 class="title barbes__title" id="barbers">Наші професіонали</h2>
        <p class="barbes__text">
            Наші барбери мають розгорнутий досвід у роботі з різними типами волосся, формами обличчя та стилями. Вони докладають максимальних зусиль, аби забезпечити вам образ, який відповідає вашому унікальному стилю та побажанням
        </p>
                <div class="slider">
                    <ul class="slider-line">
                        <li class="barbes-list__item">
                            <h3 class="barb__info">
                                Ольга
                                <p class="barb__info--accent">grand barber</p>
                            </h3>
                            <div class="barb__card">
                                <div class="barb-action"></div>
                                <img class="barb__foto" src="/src/images/Ольга.png">
                                <a class="barb__btn" href="https://b807307.alteg.io/company/758588/menu?o=">Записатися</a>
                                <!-- <button class="barb__btn">Записатися</button> -->
                            </div>
                            <!-- <img src="/src/images/Ольга.png"> -->
                            <p class="barbe__expr">Досвід: 11 років</p>
                            <div class="stars-list">
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="barbes-list__item">
                            <h3 class="barb__info">
                                Михайло
                                <p class="barb__info--accent">grand barber</p>
                            </h3>
                            <div class="barb__card">
                                <div class="barb-action"></div>
                                <img class="barb__foto" src="/src/images/Михайло.png">
                                <a class="barb__btn" href="https://b807307.alteg.io/company/758588/menu?o=">Записатися</a>
                                <!-- <button class="barb__btn">Записатися</button> -->
                            </div>
                            <p class="barbe__expr">Досвід: 7 років</p>
                            <div class="stars-list">
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                            </div>
                        </li> 
                        <li class="barbes-list__item">
                            <h3 class="barb__info">
                                Володимир
                                <p class="barb__info--accent">master</p>
                            </h3>
                            <div class="barb__card">
                                <div class="barb-action"></div>
                                <img class="barb__foto" src="/src/images/Михайло.png">
                                <a class="barb__btn" href="https://b807307.alteg.io/company/758588/menu?o=">Записатися</a>
                                <!-- <button class="barb__btn">Записатися</button> -->
                            </div>
                            <p class="barbe__expr">Досвід: початківець</p>
                            <div class="stars-list">
                                <div class="stars-list__item">
                                    <svg class="stars-icon" width="28px" height="28px">
                                        <use href="/src/images/icons/icons.svg#icon-Star"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                    </ul>
        <button class="slider-prev">
            <svg class="slider-btn">
                <use href="/src/images/icons/icons.svg#icon-prev"></use>
            </svg>
        </button>
        
        <button class="slider-next">
            <svg class="slider-btn">
                <use href="/src/images/icons/icons.svg#icon-next"></use>
            </svg>
        </button>
                </div>



        <ul class="element-list">
            <li class="element current">
                <svg class="icon-footer" width="16px" height="16px">
                    <use href="/src/images/icons/icons.svg#icon-Ellipse"></use>
                </svg>
            </li>
            <li class="element">
                <svg class="icon-footer" width="16px" height="16px">
                    <use href="/src/images/icons/icons.svg#icon-Ellipse"></use>
                </svg>
            </li>
            <li class="element">
                <svg class="icon-footer" width="16px" height="16px">
                    <use href="/src/images/icons/icons.svg#icon-Ellipse"></use>
                </svg>
            </li>
        </ul>
    </div>
    <div class="elem-barb">
        <svg class="elem-barb__svg">
            <use href="/src/images/icons/icons.svg#icon-Vector-1" ></use>>
        </svg>
    </div>
</section>