// .header-container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     height: 73px;
//     // background-color: #090909;
//     background-color: wheat;
    
//     // padding: 0px 80px;
//     // position: fixed;
//     // z-index: 100;
//     width: 1280px;

//     @include for-mobile-and-tablet{
//         display: none;
//     }
// }
.header-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 98px;
    background-color: #0E0E0E;
    padding: 0px 80px;
    margin: 0px -80px;
    position: fixed;
    z-index: 100;
    width: 1280px;
    

    @include for-mobile-and-tablet {
        display: none;
    }
}

.header-adress {
    display: none;
}

// НАВІГАЦІЯ
.header-nav {
    display: flex;
}

.site-nav {
    display: flex;
    // margin: 0px 65px 0px 70px;
    &__item:not(:last-child) {
        margin-right: 40px;
        }
}
 .site-nav__link {
    font-family: 'PT Serif Caption', serif;
     display: block;
     padding: 32px 0;
     color: var(--text-color);
     text-transform: uppercase;
     font-weight: 400;
     font-size: 22px;
     letter-spacing: 0.03em;
     text-decoration-line: none;

     &:hover,
     &:focus {
         color: var(--accent-color);
     }
 }
// ЛОГО
 .header-logo {
     width: 177px;
     height: 42px;
    }
    
.header-logo__group{
    display: flex;
    text-decoration: none;
    fill: #EBE8E8;
    &:hover,
    &:focus {
        fill: var(--accent-color);}
   
}

.header-logo__text {
    font-family: 'PT Serif Caption', serif;
    font-weight: 400;
    margin: 5px 0px 5px 12px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0.03em;
    &:hover,
    &:focus {
         color: var(--accent-color);}
    
}

// ББЛОК-ІНФО
.auth {
    display: flex;
    align-items: center;
}
.auth-insta {
    margin-right: 8px;
    
}

.auth-insta__link {
    
   
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.auth-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

 .auth-tel__link{
    font-family: 'PT Serif Caption', serif;
     display: block;
     color: var(--text-color);
     text-transform: uppercase;
     font-weight: 700;
     font-size: 18px;
     line-height: 25px;
     letter-spacing: 0.05em;
     text-decoration-line: none;

     &:hover,
     &:focus {
         color: var(--accent-color);
     }
 }

  .auth-timetable{
    font-family: 'PT Serif Caption', serif;
      display: block;
      color: var(--text-color);
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.05em;
  }

//  Для планшету і моб.

.header-menu {
  @include for-desktop {
    display: none;
  }
  @include for-mobile-and-tablet {
    display: flex;
        justify-content: space-between;
        margin-bottom: -60px;
  }
}
.js-open-menu {
    width: 44px;
    height: 44px;
    padding: 4px;
    background-color: #1fe0;
    border: none;
}

.header-menu__adress {
    font-family: 'PT Serif Caption', serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: left;

    @include for-tablet-only {
        font-size: 24px;
        line-height: 32px;
        width: 447px;
        height: 56px;
    }
    @include for-mobile-only {
        font-size: 14px;
        line-height: 19px;
        width: 248px;
        height: 36px;
    }
}