
// .header-container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     height: 73px;
//     background-color: black;
//     // padding: 0px 80px;
//     position: fixed;
//     z-index: 100;
//     width: 1280px;

//     @include for-mobile-and-tablet{
//         display: none;
//     }
// }
.header-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    background-color: black;
    // padding: 0px 80px;
    position: fixed;
    z-index: 100;
    width: 1280px;

    @include for-mobile-and-tablet {
        display: none;
    }
}
.header-adress {
    display: none;
}

// НАВІГАЦІЯ
.header-nav {
    display: flex;
}

.site-nav {
    display: flex;
    // margin: 0px 65px 0px 70px;
    &__item:not(:last-child) {
        margin-right: 40px;
        }
}
 .site-nav__link {
    font-family: 'PT Serif Caption', serif;
     display: block;
     padding: 32px 0;
     color: var(--text-color);
     text-transform: uppercase;
     font-weight: 400;
     font-size: 22px;
     letter-spacing: 0.03em;
     text-decoration-line: none;

     &:hover,
     &:focus {
         color: var(--accent-color);
     }
 }
// ЛОГО
 .header-logo {
     width: 177px;
     height: 42px;
    }
    
.header-logo__group{
    display: flex;
    text-decoration: none;
    fill: #EBE8E8;
    &:hover,
    &:focus {
        fill: var(--accent-color);}
   
}

.header-logo__text {
    font-family: 'PT Serif Caption', serif;
    font-weight: 400;
    margin: 5px 0px 5px 12px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 0.03em;
    &:hover,
    &:focus {
         color: var(--accent-color);}
    
}

// ББЛОК-ІНФО
.auth {
    display: flex;
    align-items: center;
}
.auth-insta {
    margin-right: 8px;
    
}

.auth-insta__link {
    
   
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.auth-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .auth-tel__link{
    font-family: 'PT Serif Caption', serif;
     display: block;
     color: var(--text-color);
     text-transform: uppercase;
     font-weight: 700;
     font-size: 18px;
     line-height: auto;
     letter-spacing: 0.05em;
     text-decoration-line: none;

     &:hover,
     &:focus {
         color: var(--accent-color);
     }
 }

  .auth-timetable{
    font-family: 'PT Serif Caption', serif;
      display: block;
      color: var(--text-color);
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      line-height: auto;
      letter-spacing: 0.05em;
  }