
.overlay {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    max-width: 1440px;
    height: auto;
    
    @include for-desktop{
        background-image: url(/src/images/hero-section-desktop.jpg);
        padding-top: 180px;
        padding-bottom: 180px;
    }
    @include for-tablet-only {
        background-image: url(/src/images/hero-section-tab.jpg);
        padding-top: 329px;
        padding-bottom: 382px;
    }
    @include for-mobile-only {
        background-image: url(/src/images/hero-section-mob.jpg);
        padding-top: 213px;
        padding-bottom: 382px;
    }

}

.main-button {
    font-family: 'PT Serif Caption', serif;
    display: block;
    padding: 20px 40px;
    margin: 0px auto 0px auto;
    width: max-content;

    color: var(--text-color);
    background: rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    line-height: auto;
    letter-spacing: 0.05em;
    text-decoration-line: none;
    
    
    &:hover,
    &:focus,
    &:active {
        color: var(--text-color);
            //   background: var(--button-color);
            border: 2px solid var(--white-color);
            cursor: pointer;
            background: linear-gradient(0deg, #292929, #292929),
                linear-gradient(0deg, #FFFFFF, #FFFFFF);
    }
}

.main-logo {
    @include for-desktop {
        width: 705px;
        height: 375px;
        margin: 0px 351px 0px 338px;
    }

    @include for-tablet-only {
        width: 596px;
        margin: 0px auto 32px;
    }
    @include for-mobile-only {
        width: 358px;
        height: 276px;
        margin: 0px auto 20px;
    }
}

.main-logo__svg {
    @include for-desktop {
        width: 650px;
        height: 315px;
    }

    @include for-tablet-only {
        width: 596px;
        height: 305px;
    }

    @include for-mobile-only {
        width: 358px;
        height: 228px;
    }
}

.header-menu {
    @include for-desktop {
        display: none;
    }
}